<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Home | E-Shopper</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/prettyPhoto.css" rel="stylesheet">
  <link href="/css/price-range.css" rel="stylesheet">
  <link href="/css/animate.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/images/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<style>
  /* Định kiểu cho avatar */
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    border: 1px solid #fff;
    margin-top: -3px;
  }

  /* Canh chỉnh văn bản của các mục trong navbar */
  .navbar-nav li a {
    display: flex;
    /* Sử dụng flexbox để dễ căn chỉnh */
    align-items: center;
    /* Canh giữa nội dung của mỗi mục theo chiều dọc */
    text-decoration: none;
    /* Loại bỏ gạch chân */
  }

  .navbar-nav li a i,
  .navbar-nav li a img {
    vertical-align: middle;
    /* Đảm bảo biểu tượng và avatar đều căn chỉnh theo chiều dọc */
  }
</style>
<header id="header">
  <!--header-->
  <div class="header_top">
    <!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6 ">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
              <li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li><a href=""><i class="fa fa-facebook" aria-hidden="false"></i></a></li>
              <li><a href=""><i class="fa fa-twitter" aria-hidden="false"></i></a></li>
              <li><a href=""><i class="fa fa-linkedin" aria-hidden="false"></i></a></li>
              <li><a href=""><i class="fa fa-dribbble" aria-hidden="false"></i></a></li>
              <li><a href=""><i class="fa fa-google-plus" aria-hidden="false"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header_top-->

  <div class="header-middle">
    <!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-md-4 clearfix">
          <div class="logo pull-left">
            <a href="/"><img src="/images/home/logo.png" alt="" /></a>
          </div>
          <div class="btn-group pull-right clearfix">
          </div>
        </div>
        <div class="col-md-8 clearfix">
          <div class="shop-menu clearfix pull-right">
            <ul class="nav navbar-nav">
              <li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
              <li><a href="/client/checkout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
              <li><a href="/client/cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
              <% if (user !==undefined) { %>
                <li>
                  <a href="/client/profile">
                    Hi <div style="font-weight: 500;">
                      <%= user.firstName %>
                        <%= user.lastName %>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/client/auth/logout">Logout</a>
                </li>
                <li>
                  <img src="<%= user.avatar ? user.avatar : '/images/default/default_avatar.png' %>" alt="Avatar"
                    class="avatar">
                </li>
                <% } else { %>
                  <li><a href="/client/auth/login"><i class="fa fa-lock"></i> Login</a></li>
                  <li><a href="/admin/auth/login"><i class="fa fa-bolt"></i>Admin Login</a></li>
                  <% } %>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--/header-middle-->

  <div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="/">Home</a></li>
              <li class="dropdown"><a href="#" class="active">Shop<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="/client/product" class="active">Products</a></li>
                  <li><a href="checkout.html">Checkout</a></li>
                  <li><a href="/client/cart">Cart</a></li>
                  <li><a href="/client/auth/login">Login</a></li>
                  <li><a href="/admin/auth/login">Admin Login</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="blog.html">Blog List</a></li>
                  <li><a href="blog-single.html">Blog Single</a></li>
                </ul>
              </li>
              <li><a href="404.html">404</a></li>
              <li><a href="/client/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--/head-->