<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <!-- Header -->
  <%- include('D:\\Study\\daotrongnam\\views\\layout\\client-layout\\header.ejs') %>

  <!-- Body -->
  <main>
    <%- body %>
  </main>

  <!-- Footer -->
  <%- include('D:\\Study\\daotrongnam\\views\\layout\\client-layout\\footer.ejs') %>
</body>
</html>
